.js-skill
	.js-skill__wrap
		.js-skill__chart
			img(src="./images/chart.png")
		.js-skill__content
			.js-skill__title.title
				| Мой уровень владения <br /> Java Script
			.js-skill__lavel
				| 954
