include mixins/checkbox

.skills
	.skills__wrap
		.skills__title.title Навыки
			.skills__list
				+checkbox('Html5', true)
				+checkbox('Sass', true)
				+checkbox('vANILLAJS', true)
				+checkbox('GIT', true)
				+checkbox('css3', true)
				+checkbox('LESS', true)
				+checkbox('aNGULAR', true)
				+checkbox('fOUNDATION', true)
				+checkbox('БЭМ', true)
				+checkbox('gULP', true)
				+checkbox('JQUERY', true)
				+checkbox('BOOTSTRAP', true)

